page-finish-checkin {

  .welcome{
    color: #264199;
  }

  .center {
    text-align: center;
  }

  .bg-light {
    background-color: #f4f4f4;
  }

  .text-color-light {
    text-color : grey
  }

  .icon-style {
    zoom: 4.0;
    color: #264199;
  }

}
