page-hostname {

  .welcome{
    color: #264199;
  }

  .center {
    text-align: center;
  }

  .fields {
    margin-top: 5px;
    margin-bottom: 5px;

    max-width: 50% !important;
    margin-left: auto;
    margin-right: auto;
  }

  .bg-light {
    background-color: #f4f4f4;
  }

}
