<ion-header>

  <ion-navbar>
    <ion-title text-center color="light">Welcome to Cardlytics</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-light">


    <ion-grid>

      <ion-row>
        <ion-col col-12>&nbsp;</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>&nbsp;</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <h5 class="center welcome">Who are you visiting?</h5>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-toolbar color="light">

      <ion-searchbar class="fields" placeholder="Type to search for the host" (ionInput)="getHostList($event)" ></ion-searchbar>

      <ion-list radio-group required *ngIf="showList">

        <ion-item *ngFor="let host of hosts" class="fields">
          <ion-label>{{ host }}</ion-label>
          <ion-radio value="{{ host }}" (ionSelect)="selectHost($event)"></ion-radio>
        </ion-item>

      </ion-list>

    </ion-toolbar>

  </ion-content>
