page-preview {

  .welcome{
    color: #264199;
  }

  .center {
    text-align: center;
  }

  .bg-light {
    background-color: #f4f4f4;
  }

  .fields {
    margin-top: 15px;
    margin-bottom: 15px;

    max-width: 60% !important;
    margin-left: auto;
    margin-right: auto;
  }

}
